<?xml version="1.0"?>
<config>
  <modules>
    <Yantrakaar_NewsTicker>
      <version>0.1.0</version>
    </Yantrakaar_NewsTicker>
  </modules>
  <frontend>
		<layout>
			<updates>
				<newsticker>
					<file>newsticker.xml</file>
				</newsticker>
			</updates>
		</layout>
	</frontend>
  <global>
    <helpers>
      <newsticker>
        <class>Yantrakaar_NewsTicker_Helper</class>
      </newsticker>
    </helpers>
	<blocks>
	  <newsticker>
		<class>Yantrakaar_NewsTicker_Block</class>
	  </newsticker>
	</blocks>
	<models>
	  <newsticker>
		<class>Yantrakaar_NewsTicker_Model</class>
		<resourceModel>newsticker_mysql4</resourceModel>
	  </newsticker>
	  <newsticker_mysql4>
		<class>Yantrakaar_NewsTicker_Model_Mysql4</class>
		<entities>		  
			  <tickergroup>
				<table>newsticker_group</table>
			  </tickergroup>		  
			  <tickertext>
				<table>newsticker_text</table>
			  </tickertext>
        </entities>
	  </newsticker_mysql4>
	</models>
	<resources>
	  <newsticker_setup>
		<setup>
		  <module>Yantrakaar_NewsTicker</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </newsticker_setup>
	  <newsticker_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </newsticker_write>
	  <newsticker_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </newsticker_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <newsticker>
	    <use>admin</use>
		<args>
		  <module>Yantrakaar_NewsTicker</module>
		  <frontName>newsticker</frontName>
		</args>
	  </newsticker>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <newsticker module="newsticker">
		<title>NewsTicker</title>
		<sort_order>41</sort_order>
		<children>
		  <tickergroup module="newsticker">
		    <title>Manage Tickergroup</title>
			<sort_order>0</sort_order>
			<action>newsticker/adminhtml_tickergroup</action>
		  </tickergroup>
		  <tickertext module="newsticker">
		    <title>Manage Tickertext</title>
			<sort_order>10</sort_order>
			<action>newsticker/adminhtml_tickertext</action>
		  </tickertext>
		</children>
	  </newsticker>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<newsticker translate="title" module="newsticker">
			  <title>NewsTicker</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <tickergroup translate="title">
			<title>Manage Tickergroup</title>
			<sort_order>0</sort_order>
		  </tickergroup>
		  <tickertext translate="title">
			<title>Manage Tickertext</title>
			<sort_order>10</sort_order>
		  </tickertext>
			  </children>
			</newsticker>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<newsticker>
		  <file>newsticker.xml</file>
		</newsticker>
	  </updates>
	</layout>
  </adminhtml>
  <default>
    <yantrakaar_newsticker>
        <yantrakaar_newsticker_settings>
        	<enabled></enabled>
        	<groupid>1</groupid>                
            <jquery>1</jquery>         
        </yantrakaar_newsticker_settings>
        <yantrakaar_newsticker_general>
        	<mode>horizontal</mode>
        	<speed>7200</speed>
        	<slidemargin>0</slidemargin>
        	<startslide>0</startslide>
        	<randomstart>0</randomstart>
        	<slideselector></slideselector>
        	<infiniteloop>1</infiniteloop>
        	<hidecontrolonend>0</hidecontrolonend>
        	<captions>0</captions>
        	<ticker>1</ticker>
        	<tickerhover>1</tickerhover>
        	<adaptiveheight>0</adaptiveheight>
        	<adaptiveheightspeed>500</adaptiveheightspeed>
        	<responsive>1</responsive>
        	<usecss>1</usecss>
        	<preloadimages>visible</preloadimages>
        	<touchenabled>1</touchenabled>
        	<swipethreshold>50</swipethreshold>
        	<onetoonetouch>1</onetoonetouch>
        	<preventdefaultswipex>1</preventdefaultswipex>
        	<preventdefaultswipey>0</preventdefaultswipey>
        </yantrakaar_newsticker_general>
        <yantrakaar_newsticker_pager>
        	<pager>1</pager>
        	<pagertype>full</pagertype>
        	<pagershortseparator><![CDATA[/]]></pagershortseparator>
        </yantrakaar_newsticker_pager>
        <yantrakaar_newsticker_controls>
        	<controls>1</controls>
        	<nexttext>Next</nexttext>
        	<prevtext>Prev</prevtext>
        	<autocontrols>0</autocontrols>
        	<starttext>Start</starttext>
        	<stoptext>Stop</stoptext>
        	<autocontrolscombine>0</autocontrolscombine>
        </yantrakaar_newsticker_controls>
        <yantrakaar_newsticker_auto>
        	<auto>0</auto>
        	<pause>4000</pause>
        	<autostart>1</autostart>
        	<autodirection>next</autodirection>
        	<autohover>0</autohover>
        	<autodelay>0</autodelay>
        </yantrakaar_newsticker_auto>
        <yantrakaar_newsticker_carousel>
        	<minslides>1</minslides>
        	<maxslides>1</maxslides>
        	<moveslides>0</moveslides>
        	<slidewidth>500</slidewidth>
        </yantrakaar_newsticker_carousel>
        <yantrakaar_newsticker_easing>
        	<enabled>1</enabled>
        	<easing></easing>
        </yantrakaar_newsticker_easing>
        <yantrakaar_newsticker_vids>
        	<enabled>0</enabled>
        </yantrakaar_newsticker_vids>      
    </yantrakaar_newsticker>
 </default>
</config> 
